<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Thermostat </title>
    <link rel="stylesheet" href="stylesheet.css">
  </head>

  <body>
    <h1> Hot or Not? </h1>

    <section id= "temp-box">

      Current temperature: <span id="temperature"></span><br/>
      Current usage: <span id="usage"></span><br/>
      Power Saving is on? <span id="ps">true</span>
    </section>

    <div id= "buttons">
      <button id="temperature-up">+</button>
      <button id="temperature-down">-</button><br/>
      <button id="power-saving">
        <img src="../Public/img/energy saving-on.png" height= 60px width= 60px>
      </button><br>

      <button id="temperature-reset">RESET</button><br/>

    </div>

    <script src="../src/thermostat.js"></script>
    <script src="../jquery.js"></script>
    <script src="thermostat_jquery.js"></script>


  </body>
</html>
