<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Thermostat </title>
    <link rel="stylesheet" href="stylesheet.css">
  </head>
  <body>
    <h1> Hot or Not? </h1>
    <section>
      PowerSaver<button id="power-saving"></button><br/>
      <button id="temperature-up">+</button>
      <button id="temperature-down">-</button><br/>
      <button id="temperature-reset">RESET</button><br/>
      Current temperature: <span id="temperature"></span><br/>
      Current usage: <span id="usage"></span>
    </section>
  </body>
</html>
