body {
  padding:150px
}

h1 {
  color: pink;
  width: 40%;
  margin: auto;
  text-align: center;
  padding: 30px
}

#temp-box {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
  border: 5px solid grey;
  padding: 10px;
}

#buttons {
  /*background-image: url(../Public/img/energy saving-on.png);*/
  position: absolute;
  left: 238px;
  padding: 10px;
}

#weather-info {
  position: absolute;
  top: 100px;
  left: 248px;
}
  /*padding: 20px
}
